<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
 
 
  <!-- the targets to write to -->
  <target>
    <!-- 输出到文件,这个文件记录所有的日志 -->
    <target xsi:type="File" name="allfile" fileName="Log\LogAll\${shortdate}.htm"
                 layout="${longdate}${logger}${uppercase:${level}}${message} ${exception}" />
    <!-- 输出到文件,这个文件记录错误日志 -->
    <target xsi:type="File" name="logError" fileName="Log\LogError\${shortdate}.htm"
            layout="【异常时间】：${date} 【异常级别】：${level:uppercase=true}${message}" />
 
    <!-- 输出到文件,这个文件记录操作日志 -->
    <target xsi:type="File" name="logInfo" fileName="Log\LogInfo\${shortdate}.htm"
                 layout="【操作时间】：${date}【操作级别】：${level:uppercase=true}${message}"  />
 
    <target xsi:type="Network" name="ownLog-tcp-Info" keepConnection="false" address ="tcp://192.168.9:8001"
                 layout="#【操作时间】：${date} #【操作级别】：${level:uppercase=true} #${message}#"/>
 
    <target xsi:type="Network" name="ownLog-tcp-Error" keepConnection="false" address ="tcp://192.168.161.191:8001"
                 layout="#【异常时间】：${date} #【异常级别】：${level:uppercase=true} #${message}#"/>
 
  </target>
  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Error" writeTo="logError" />
    <logger name="*" minlevel="Info" writeTo="logInfo" />
    <logger name="*" minlevel="Info" writeTo="ownLog-tcp-Info" />
    <logger name="*" minlevel="Error" writeTo="ownLog-tcp-Error" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Trace" final="true" />
    <!--<logger name="DotNetCore.CAP.*" maxLevel="Info" final="true" />
    <logger name="IdentityServer4.*" maxLevel="Info" final="true" />-->
 
  </rules>
</nlog>